<h2 class="screen-align">Create</h2>
<div id="template-iqjv" class="row">
    <div id="template-idvx" class="cell">
        <label id="template-i42v" class="label">Student_Name</label>
        <input id="template-ia1w" class="input form-control"
        />
        <button id="template-ihxg1" (click)="GpCreate()" class="button btn btn-primary">create</button>
    </div>
    <div id="template-iuh8" class="cell">
        <label id="template-ivs2" class="label">Student_DOB</label>
        <input id="template-iam1" class="input form-control"
        />
    </div>
    <div id="template-ix1b" class="cell">
        <label id="template-iujy" class="label">Student_Address</label>
        <input id="template-ie6nw" class="input form-control"
        />
    </div>
</div>