<h2 class="screen-align">Update</h2>
<div id="template-iaa7" class="row">
    <div id="template-iznm" class="cell">
        <label id="template-i2q6" class="label">Student_Name</label>
        <input id="template-i45j" class="input form-control"
        />
        <button id="template-io8kb" (click)="GpUpdate()" class="button btn btn-primary">update</button>
    </div>
    <div id="template-izu6" class="cell">
        <label id="template-iuoe" class="label">Student_DOB</label>
        <input id="template-igh1" class="input form-control"
        />
    </div>
    <div id="template-itrl" class="cell">
        <label id="template-i6va" class="label">Student_Address</label>
        <input id="template-itjt3" class="input form-control"
        />
    </div>
</div>