<h2 class="screen-align">Search</h2>
<div id="template-ib5i" class="row">
    <div id="template-iv0n" class="cell">
        <label id="template-ioq9" class="label">Student_Name</label>
        <input id="template-iitb" class="input form-control"
        />
        <button id="template-iujgu" class="button btn btn-primary">search</button>
    </div>
    <div id="template-i836" class="cell">
        <label id="template-id2v" class="label">Student_DOB</label>
        <input id="template-ilja" class="input form-control"
        />
    </div>
    <div id="template-i9sf" class="cell">
        <label id="template-iacv" class="label">Student_Address</label>
        <input id="template-ikl1z" class="input form-control"
        />
    </div>
</div>