<h2 class="screen-align">Delete</h2>
<div id="template-ixgo" class="row">
    <div id="template-i0r7" class="cell">
        <label id="template-i5xj" class="label">Student_Name</label>
        <input id="template-ipj8" class="input form-control"
        />
        <button id="template-iq2s1" (click)="GpDelete()" class="button btn btn-primary">delete</button>
    </div>
    <div id="template-iszg" class="cell">
        <label id="template-ioq2" class="label">Student_DOB</label>
        <input id="template-ijxv" class="input form-control"
        />
    </div>
    <div id="template-i57t" class="cell">
        <label id="template-i6g5" class="label">Student_Address</label>
        <input id="template-ipusl" class="input form-control"
        />
    </div>
</div>